:host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: burlywood;
    
    .title{
        font-size: 5rem;
    }
        .emblem{
            font-size: 2rem;
        }
    

        img{
            width: 8rem;;
        }
}