:host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
//     .headerText{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 1rem;
    
//         .title{
//         font-size: 5rem;
//         color: rgb(168, 32, 57);
//         }
//         .emblem{
//             font-size: 2rem;
//             color: white;
//         }
//     }

//         img{
//             width: 8rem;;
//         }
// }