:host{
    // display: grid;
    // grid-template-columns: 33% 34% 33%;
    width: 100%;
    background-color: rgb(168, 32, 57);
}

.buttonContainer{
    // grid-column-start: 3;
    // grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;

        button{
            background-color: white;
            border: rgb(168, 32, 57) 2px solid;
            padding: 0.4rem;
            border-radius: 2rem;
        }
}


.formContainer{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.titleContainer{
    // grid-column-start: 2;
    // grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;

        img{
            width: 12rem;
        }
}