:host{
    width: 100%;
    display: flex;
    justify-content: center;
    // background-image: url(../../../assets/dots.jpg);

    .cart{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 40vh;
        background-color: rgb(0, 0, 0);
        position: fixed;
    }
}