<div class="search">
    <input type="text" (input)="searchFood()" placeholder={{valuePlaceholder}} [(ngModel)]="inputValue">
    <!-- <button (click)="searchFood()">Search</button> -->
    <button>Search</button>
</div>

<div class="foodDetail">
    <ul>
        @if (filterArray.length >0) {
            @for (food of filterArray; track food.id) {
                <li>
                    <div class="topCard">
                        <img [src]="food.image" alt={{food.name}}>
                        <p class="foodName">{{food.name}}</p>
                        <p>{{food.calories}} cal.</p>
                    </div>
                    <div class="bottomCard">
                        <button><img src="../../../../assets/subtraction-sign.png" alt=""></button>
                        <p>{{food.quantity}}</p>
                        <button><img src="../../../../assets/plus.png" alt=""></button>
                        <!-- <button (click)="addToDash(food)">Add To Dashboard</button> -->
                    </div>
                </li> 
            }
        }
            @else {
                @for (food of foodProducts; track food.id) {
                    <li>
                        <div class="topCard">
                            <img [src]="food.image" alt="{{food.name}}">
                            <p class="foodName">{{food.name}}</p>
                            <p>{{food.calories}} cal.</p>
                        </div>
                        <div class="bottomCard">
                            <button><img src="../../../../assets/subtraction-sign.png" alt=""></button>
                            <input type="number" value="{{food.quantity}}">
                            <button><img src="../../../../assets/plus.png" alt=""></button>
                            <!-- <button (click)="addToDash(food)">Add To Dashboard</button> -->
                        </div>
                    </li>
                }
            }
    </ul>
</div>

<!-- <app-form (formSent)="registerProduct($event)"></app-form> -->
<!-- <app-form (formSent)="handleFormSubmission($event)"></app-form> -->

<!-- ADD PRODUCTS TO CART
https://angular.io/start/start-data -->