<!-- <input type="text" placeholder={{valuePlaceholder}} [(ngModel)]="inputValue">
<button (click)="searchFood()">Search</button>

<div class="foodDetail">
    <ul>
        @if (filterArray.length >0) {
        @for (food of filterArray; track food.id) {
            <li>
                <div class="topCard">
                    <img [src]="food.image" alt="{{food.name}}">
                    <p class="foodName">{{food.name}}</p>
                    <p>{{food.calories}} cal.</p>
                </div>
                <div class="bottomCard">
                    <button><img src="../../../../assets/subtraction-sign.png" alt=""></button>
                    <p>{{food.quantity}}</p>
                    <button><img src="../../../../assets/plus.png" alt=""></button>
                </div>
            </li>
        }
        }
            @else {
                @for (food of filterArray; track food.id) {
                    <li>
                        <div class="topCard">
                            <img [src]="food.image" alt="{{food.name}}">
                            <p class="foodName">{{food.name}}</p>
                            <p>{{food.calories}} cal.</p>
                        </div>
                        <div class="bottomCard">
                            <button><img src="../../../../assets/subtraction-sign.png" alt=""></button>
                            <p>{{food.quantity}}</p>
                            <button><img src="../../../../assets/plus.png" alt=""></button>
                        </div>
                    </li>
                }
            }
        
    </ul>
    </div> -->
    <!-- https://stackoverflow.com/questions/67315238/searching-an-array-and-filtering-it-angular -->